* {
  font-family: sans-serif;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
  color: white;
}

button  {
  background-color: transparent;
}

.bkg-parallax .title-desc  {
  left: 0;
  position: absolute;
  transform: translate(10vw, 10vh);
  color: white;
  font-size: calc(3vw + 10px);
}

@media only screen and (min-width: 600px) { /*---Desktop---*/
  .bkg-parallax {
    background-image: url("JoshNA.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }
  .scroll-down {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: transparent;
    color: white;
    left: 50%;
    margin-bottom: 20px;
  }
  .contact-menu {
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    bottom: 12vh;
    right: 6vw;
    background-color: transparent;
  }
  #sticky-button * {
    display: flex;
    flex-direction: column;
    visibility: visible;
    cursor: pointer;
  }
  #sticky-button span {
    width: 50px;
  }
}

@media only screen and (max-width: 600px) { /*---Mobile---*/
  .bkg-parallax {
    background-image: url("JoshNA-mobile.jpg");
    background-size: cover;
    height: 100%;
  }
  .contact-menu {
    color: white;
    font-size: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    visibility: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.95);
    overflow-x: hidden;
  }
  #sticky-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 12vh;
    right: 6vw;
    visibility: visible;
    font-size: 20px;
    cursor: pointer;
  }
}

.fade-test  {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-test.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@keyframes roll-in-right {
  0%  {
    transform: translateX(10vw) rotate(540deg);
    opacity: 0;
  }
  100%  {
    transform: translateX(0) rotate(0deg);
  }
}
